@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.Message</h2>
    <h2>@ViewData["Message"]</h2>
    @{
        var message = TempData["Message"] as string;
    }
    <h2>@message</h2>
    <h2>Lokesh Datta Ojha</h2>
</div>
